# Ignore everything in repository root
/*
# Except this file
!.gitignore

# Folder to not ignore
!/alacritty/
!/awesome/
!/fish/
!/flameshot/
!/htop/
!/helix/
!/kitty/
!/lazygit/
!/nvim/
!/qutebrowser/
!/rofi/
!/lvim/
